<div class="movie-card">
  <div class="poster">
    <img [src]="movie.posterUrl" [alt]="movie.title" class="img-fluid">
    <div class="overlay">
      <div class="rating">
        <span class="star">★</span> {{ movie.rating }}
      </div>
      <div class="action-buttons">
        <a [routerLink]="['/movie', movie.id]" class="btn btn-outline-warning">Ver película</a>
      </div>
    </div>
  </div>
  <div class="movie-info">
    <h5 class="title">{{ movie.title }}</h5>
    <div class="metadata">
      <span class="year">{{ movie.year }}</span>
      <span class="duration">{{ movie.duration }}</span>
    </div>
  </div>
</div>